name: Say Hello
on:
  push:
    branches:
      - master
jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Hello
        run: |
          echo "Hello world! I'm a Github Action"
      - name: Current Date
        run: |
          echo "Current date:"
          date
      - name: Next job please!
        run: echo "Starting the next job"
