name: Deployment Pipeline
# When the action will be activated
on:
  push:
    branches:
      - master

# What activities or jobs will be executed 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # 
          sparse-checkout: .
      - name: List fetched files
        run: |
          ls -al
      