name: Deployment Pipeline
# When the action will be activated
on:
  push:
    branches:
      - master

# What activities or jobs will be executed 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # 
          fetch-depth: 0
      - name: List fetched files
        run: |
          ls -al
      - name: Requirements and tests
        run: |
          make all
